.top-container {
    padding: 10px;
}

img {
    width: 100px;
    height: auto;
}

h1 {
    color: orange;
    border: 5px solid red;
    border-radius: 5px;
    background-color: yellow;
    font-weight: 600;
    padding: 30px;
}

ol li {
    background: #d3fac2;
    margin: 7px;
}

input {
    width: 300px;
    height: 50px;
    border: 1px solid #999999;
    padding: 5px;
}